---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Deploy Astro">
	<main class="min-h-screen">
		<h1 class="text-4xl font-bold opacity-70 text-center pt-14">Deploy Astro to GitHub Pages</h1>
	</main>
</Layout>

<style>
</style>
